
.entry-title{
    text-align: center;
    text-decoration: underline;
   
}
.hfeed{
    background-color: rgb(167, 255, 255);
}
.maincontaniner{
    background-color:black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
}


.conatiner{
    height: 400px;
    width: 300px;
    border: 1px solid yellow;
    border-radius: 10px;
    padding: 10px;
    margin: 50px;

}

.immmg img{
    height: 100%;
    object-fit: cover;
    border-radius: 10px;;
}

.immmg{
    width: 100%;
    height: 50%;
}


.entry-content h2{
    color: yellow;
}



.entry-content p{
    color: yellow
}



